[submodule "quill"]
	path = quill
	url = https://github.com/odygrd/quill.git
[submodule "networking"]
	path = networking
	url = https://github.com/NevisNeutrinos/networking.git
[submodule "tpc_configs"]
	path = tpc_configs
	url = https://github.com/NevisNeutrinos/tpc_configs.git
