[submodule "quill"]
    path = quill
    url = git@github.com:odygrd/quill.git

[submodule "networking"]
    path = networking
    url = git@github.com:NevisNeutrinos/networking.git

[submodule "PGramsCommCodec"]
    path = PGramsCommCodec
    url = git@github.com:NevisNeutrinos/PGramsCommCodec.git

[submodule "ReadoutDataMonitor"]
    path = ReadoutDataMonitor
    url = git@github.com:NevisNeutrinos/ReadoutDataMonitor.git

